.circle-badge {
  background-color: #666666;
  /* 文字色:WHITE */
  color: #ffffff;

  /* 角を丸める */
  border-radius: 40px;

  min-width: 16px;
  min-height: 16px;
}

.row-mine {
  box-shadow: 3px 0 0 0 #ff5555 inset;
}

.row-reply {
  box-shadow: 3px 0 0 0 #55ffff inset;
}
